@import 'tailwindcss';

@theme {
  --color-love-letter-primary: oklch(87.9% 0.169 91.605);
  --color-love-letter-primary-hover: oklch(76.9% 0.188 70.08);
  --color-last-hope-primary: oklch(76.5% 0.177 163.223);
  --color-last-hope-primary-hover: oklch(59.6% 0.145 163.225);
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: oklch(12.1% 0.005 285.823);
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-sky-50);
  scroll-behavior: smooth;
}

.shadow-network-bg {
  background: radial-gradient(#1d1e33, oklch(14.5% 0 0));
  background-size: cover;
  color: var(--color-sky-50);
}

.last-hope-bg {
  background: radial-gradient(oklch(23.1% 0 0), oklch(14.5% 0 0));
  background-size: cover;
  color: var(--color-sky-50);
}

.richtext-content a {
  color: #3cd3f2;
}

.richtext-content a:hover {
  text-decoration: underline;
}

.richtext-content h2 {
  font-size: var(--text-xl);
  font-weight: bold;
  margin-bottom: 4px;
}

.richtext-content h3 {
  font-size: var(--text-lg);
  font-weight: bold;
  margin-bottom: 4px;
}
